.container-fluid{
    background-color: rgb(18, 52, 63);
    padding: 0.5% 15%;
}

div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
    width: 70%;
    margin: 0 auto;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 20%;
}

div.scrollmenu a:hover {
    background-color: #FFCE33;
}

h1{
    color: white;
    font-size: 2rem;
}