@font-face {
    font-family: 'baron_neueregular';
    src: url('webfonts/baron_neue-webfont.woff2') format('woff2'),
    url('webfonts/baron_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.container-fluid{
    padding: 0.5% 15%;
}

div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
    width: 70%;
    margin: 0 auto;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 20%;
}

div.scrollmenu a:hover {
    background-color: #FFCE33;
}

h1{
    color: white;
    font-weight: 515;
    line-height: 100%;
    font-size: 5.5rem;
    font-family: "Queens Condensed", Tahoma,  Serif;
}

h2{
    color: black;
    font-weight: 515;
    line-height: 100%;
    font-size: 5.5rem;
    font-family: "Queens Condensed", Tahoma,  Serif;
    text-align: center;
}


.subtitle {
    font-style: italic;
    color: white;
}

body {
    font-family: "Times New Roman", Times, Serif;
}

.texthidden{
    display: none;
}

.content {
    background-color: white !important;
    margin: auto;
    width: 95%;
    text-align: justify;

}
.burgermenu{
    display: none;
}
.menu-lg{
    display: block;
}


@media (min-width: 992px){
    .texthidden{
        display: block;
    }
    .content{
        width: 60%;
    }

}

@media (max-width: 992px) {
    .headtitle {
        text-align: center;

    }
    .img-fluid{
        display: block;
        margin: 0 auto;
    }
    .burgermenu{
        display: block;
    }
    .dropdown-menu{
        background-color: rgb(18, 52, 63);
        color: white;
    }
    .dropdown-item{
        color: white;
        font-size: 1.35rem;
    }
    .menu-lg{
        display: none;
    }
    .container-fluid{
        padding: 0.5% 5%;
    }
}
@media (max-width: 1300px){
    h1{
        font-size: 4.25rem;
    }
}


a  {
   all: unset;
}

.nav-link {
    color: white !important;
}


.logo {
    font-family: 'baron_neueregular' !important;
    color: white;

}

.btn {
    color: white !important;
}

.backgroundc {
    background-color: rgb(18, 52, 63);
}


.md-txt {
    font-size: 1.35rem;
    padding: 5rem 0px;
}

.bold {
    font-weight: bold;
}

table {
    font-size: 1.125rem;
}

.our-table {
    border: 0.0625rem solid rgb(211, 217, 219) !important;
    width: 95%;
    height: auto;
    margin: 1rem 0px;
    border-radius: 0.125rem;
}

.our-table tr {
    padding: 0.5rem;
    margin: 0.5rem;
}

.our-table tr:hover {
    background: rgb(247, 241, 228);
}

.our-table, tr{
    border: 0.0625rem solid rgb(211, 217, 219) ;
    border-collapse: collapse;
    padding: 1rem 1rem;
}

td{
    border-bottom: 0.0625rem solid rgb(211, 217, 219) ;
    border-collapse: collapse;
    padding: 1rem 1rem;
}


.font-md {
    font-size: 2rem;
}

.sm-img-container {
    width: 20%;
}

.circle-img {
    border-style: solid;
    border-color: rgb(18, 52, 63);
    border-radius: 50%;
    max-width: 50%;
}

.circle-img:hover{
    border-style: solid;
    border-color: rgb(255, 199, 44);
    border-radius: 50%;
    transform: rotate(
            -20deg
    );
    transform-origin: center center;
    transition: all 0.45s
}

.lg-rounded-img1 {

    margin: 0px auto;
    display: block;
    border-radius: 7.5rem;
    max-width: 80%;

}

.lg-rounded-img {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    display: inline-block;
    border-radius: 7.5rem;
    max-width: 50%;

}

.large-img {
    padding: 1.5rem;
    aspect-ratio: 123 / 150;
    text-align: center;
}
.small-img img{
    max-width: 90%;
    border-radius: 50%;
}
.small-img{
    text-align: center;
    margin-top: 10%;
}


.alt-bgc {
    background-color: rgb(252, 250, 245);
}
.burger{
    color: white;
}